body{
    background-color: rgb(11, 45, 59);
}

.title{
    color: white;
    text-align: center;
    font-size: 100px;
    padding: 20px 0;
}

#box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.box{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 137, 178);
    font-weight: bold;
}